@charset "UTF-8";
// Boostrap
@import "bootstrap/scss/bootstrap.scss";
// Fontawesome
@import "@fortawesome/fontawesome-free/scss/brands.scss";

body {
    background-image: url("/img/playstation_logo_buttons_photo_2400.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
  }


.navbar {
  height: 100px;
  padding-left: 30px;
}

.padding-100px {
  padding:100px !important;
}

.title {
  text-align: center;
}

.padding-top-100px {
  padding-top:150px;
}


.ul-style {
  text-align:left;
  max-width:400px;
  display:inline-block;
  list-style-type: none;
}

.font-size-games {
  font-size: 25px;
}

.container {
  margin-bottom:150px !important;
}



@media (min-width:990px){

  .display-flex {
    display: flex;
    justify-content: end !important;
    padding-right: 20px;
  }

  .height-bubble {
    height: 440px;
  }

}

@media(max-width:989px) {

.collapse {
  background-color: white;
  opacity: 0.7;
}

a.nav-link {
  color: black !important;
}

ul li a {
  font-size: 20px;
}

}