---
layout: base
title: Spel
---

<div class="height-bubble container bg-light bg-gradient bg-success p-2 text-dark bg-opacity-75 mt-5 mb-5 rounded-pill padding-100px text-center">
<ul class="ul-style font-size-games mt-5">
{% for spel in data.games %}
    <li><a href="/spel/{{ spel.name | slug }}/">{{ spel.name }}</a></li>
{% endfor %}
</ul>
</div>